// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {height:50px;background-color:#696969;line-height:50px;}

.left li{float:left;color:#F8F8FF;padding-left:50px;}
