<!DOCTYPE html>
<html>

  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Tsubuyaki</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="../../assets/stylesheets/tweets.scss"> -->
    <!-- <link rel="stylesheet" href="vendors/css/.css"> -->
  </head>

  <body>
    <header class="header">
    <nav>
      <div class="left clearfix">
       <h1>Tsubuyaki(header)</h1>
      </div>
    </nav>
  </header>
  <%= yield %>
    
    <footer class="footer">
     <p>Tsubuyaki株式会社 <br>
      © 2015-2018 Copyright Tsubuyaki Corp.</p>
    </footer>
  </body>
</html>